html {
  margin:0;
  font-family:Arial,sans-serif;
}

body {
  background-color: white;
  margin:0px;
}

a {
  text-decoration: none;
}

.button {
  display: inline-block;
  width: 100px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  text-align: center;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  padding: 11px;
  margin-top:20px;
}

.button-login {
  border: 0;
  margin-right:30px;
}

.button:hover{
  background-color: white;
  color: #ffad1f;
}

.pull-right{
  float: right;
  margin-left: 15px;
}

.button-white {
  background-color: rgba(255, 255, 255, 0.298);
}

h1 {
  margin:0px;
  background-color: #ffad1f;
  text-align:center;
  padding:80px;
  color:white;
  font-size: 48px;
  font-weight:lighter;
}

.nav-container{
  background-color:white;
  border-bottom: 1px solid lightgrey;
}

.nav-list{
  margin: 0 auto;
  text-align: center;

}

.nav-list li{
  display: inline-block;
  padding: 20px 40px;
  border-right: 1px solid lightgrey;
  margin: auto -2.5px;
}

.nav-list li:first-child{
  border-left: 1px solid lightgrey;
}

.nav-list li:hover{
  padding: 15px 40px;
  border-bottom: 5px solid orange;
}

.content-box{
  text-align: center;
}

.content-box section{
  border: 1px solid lightgrey;
  display: inline-block;
  color: rgb(41, 47, 51);
  font-size: 14px;
  font-weight:lighter;
  height: 400px;
  width:312px;
  margin-right: 5px;
  vertical-align:middle;
  text-align:left;
}

.content-box section h3,h4{
  padding-left:10px;
  font-family: arial, sans-serif;
}

.twitter-box{
  text-align:center !important;
  vertical-align: middle;
}
